<% provide(:title, "New Transaction") %>
<section class="recipe_new_main_container">
  <%= form_with model: @entity, url: user_create_entity_path(user_id: @user), method: :post, class: 'recipe_new_form' do |f| %>
      <%= f.label :name, class: 'recipe_new_title_label' %>
      <%= f.text_field :name, :required => true, class: 'recipe_new_title_input' %>
      <%= f.label :amount, class: 'recipe_new_title_label' %>
      <%= f.number_field :amount, :required => true, class: 'recipe_new_title_input' %>
      <%= f.label :categories %><br />
      <% for group in @group %>
        <%= check_box_tag "entity[group_ids][]", group.id, @entity.groups.include?(group) %>
        <%= f.label group.name %><br />
      <% end %>
      <%= f.submit "Add Transaction", class: 'recipe_new_submit_btn' %>
  <% end %>
</section>