<!DOCTYPE html>
<html>
  <head>
    <title>Budgety App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="card d-flex align-self-center border-0" >
      <div class="card-body align-self-center border-3 border border-light rounded-3 my-3 pb-auto shadow-lg container-width" style="max-width: 575px">
        <nav class="navbar navbar-dark bg-primary bg-gradient shadow">
          <div class="container-fluid d-flex justify-content-space-between">
          <%= link_to '<', groups_show_path(), class: 'fs-5 navbar-toggler text-decoration-none' %>
            <a class="navbar-brand fs-1" href="#"><%= yield :title %></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
